*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}
.Counter{
    width: 320px;
    margin: 100px auto 0;
    background: darkgray;
    box-shadow: 0 0 10px;
}
.input{
    padding-top: 1.75%;
}
.input input{
    display: block;
    width: 95%;
    border: none;
    height: 45px;
    text-align: right;
    padding: 0 10px;
    margin: 0 auto 10px;
    font-size: 35px;
    font-weight: 700;
    color: slategrey;
}
.btn{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}
.btn button{
    width: 21%;
    height: 50px;
    line-height: 30px;
    margin: 2%;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #5F9EA0;
    color: white;
    font-size: 35px;
    font-weight: 700;
}
.btn button:hover{
    box-shadow: 0 0 10px;
}
.btn button:nth-child(4) {
    background: red;
}
.btn button:last-child {
    width: 100%;
    background: forestgreen;
}